.Before_Footer {
  font-size: 2rem;
  font-family: sans-serif;
  margin-top: 10rem;
  text-align: center;
}

.Before_Footer a {
  color: grey;
  transition-duration: 0.4s;
}

.Before_Footer_Container {
  display: flex;
  justify-content: center;
}

.Before_Footer a:hover {
  color: lightgrey;
}
