.Footer_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
}

.Right_div {
  display: flex;
  margin-right: 2rem;
}

.Right_div h3 {
  margin: 1rem;
}

.left_div {
  margin-left: 1rem;
}
